*{
    margin: 0; /*ขอบบน - ล่าง*/
    padding: 0; /*ขอบซ้าย - ขวา*/
    box-sizing: border-box;
}

.container{
    max-width: 1140px; /*ขนาดความกว้าง*/
    margin: 0 auto; /*บนเป็น 0, ซ้าย - ขวา Auto*/
}

/*Top-box path*/
nav{
    padding: 1rem; /*ขอบบนล่าง ชนาด 1 Rrm*/
    background-color: #48596B; /*สีพิ้นหลัง*/
}

.nav-con{
    display: flex; /*ทำให้ข้อความหรือภาพเรียงเป็นแนวนอนในบรรทัดเดียว*/
    justify-content: space-between; /*แบ่ง Logo และ Manu ออกจากกัน*/
}

.logo a{
    font-size: 2rem; /*ชนาดตัวอักษร 2 Rrm*/
    color: #fff; /*อักษรเป็นสีขาว*/
    text-decoration: none; /*ไม่ขีดเส้นใต้*/
}

/*Menu path*/
.menu{
    display: flex; /*ทำให้ข้อความเรียงเป็นแนวนอน*/
    list-style: none; /*ลจุดหน้าข้อความ*/
    align-items: center; /*ทำให้ข้อความอยู่ตรงกลาง*/
}

.menu li{
    margin: 0 1rem; /*ขอบบนล่างห่าง 0, ขอบข้างห่าง 1 rem*/
}

.menu li a{
    color: #fff; /*อักษรเป็นสีขาว*/
    text-decoration: none; /*ทำให้ข้อความอยู่ตรงกลาง*/
}
/*Menu path*/
/*Top-box path*/

/* main path */
.main-box{
background-color: #484F49;
}

.main-text h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
}

.main-picture{
   display: grid; /*กำหนกหารเรียงเป็นแบบ Grid*/
   grid-template-columns: 0.5fr 1fr; /*กำหนดขนาดและจำนวนคอลัมบ์*/
   /* column-gap: 10px;/*กำหนดช่องว่างระหว่างคอลัมบ์*/
} 

.main-picture h3{
    font-size: 2rem;
    color: #fff;
    margin-top: 0.5rem;
}

.main-picture img{
    border-radius: 10px;
    margin: 0 1.5rem;
    margin-bottom: 1rem;
    width: 325px;
}

.main-picture img:hover{
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/* main path */

