/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.banner{
    background-color: teal;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info{
    text-align: center;
}

.banner-info img{
    width: 300px;
    border-radius: 100%;

}

.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main div{
    padding: 20px;
}

.main div p {
    margin-top: 10px;
}

.main img {
    width: 100%;
}

.last{
    background-color: teal;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*a{text-decoration: none;}

*li{list-style: none;}

.container{
    position: relative;
    min-height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/468755106_1967861673727539_6220946463317017813_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeH90GJm3ypusjhB0qAi9HUxOJICUWUMMo84kgJRZQwyj18f40R6RAtapVxR5kQ__UHQvuiDl-7voBhLMM7VmAcB&_nc_ohc=hlJYNKclHY8Q7kNvgHfZVpA&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=ADw6OqEPGNkfH9GolsInfNH&oh=00_AYAVqqtRWGeRT7HDeu8DIR___nqT70mlyStM93plg1Y2ag&oe=674FD0E0);
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}

.manu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2rem;
    color: #fff;
}

.content{
width: 85%;
margin: 0 auto;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
}

.content .header,.grid-card{
    width: 50%;
    position: relative;
}

.content .header{
    color: #fff;
    padding: 20px;
}

.content .header h1{
font-size: 4.5rem;
}

.grid-card{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.grid-card .box{
    width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}

.bg1{
  background-image: url(https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/468749873_1967935463720160_1750712151779413072_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeE732_6vZw0dVEGHQONPIByPdBjXOK7vZw90GNc4ru9nNHOiLd9eXAMbsY5BZ_VD6u8bXM2Dis9aN4tZ7BUM9AA&_nc_ohc=DJgPkjHNC6UQ7kNvgH-VVcB&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=AK2u0rNukWMKtsHqESrtfR3&oh=00_AYATxLfM46qwHUxEhQD0x0r-_THr4VkWEQ7G_wzC8J65Mw&oe=674FC479);
}
.bg2 {
  background-image: url("https://images.unsplash.com/photo-1552464717-70ffd59710bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.bg3 {
  background-image: url("https://images.unsplash.com/photo-1556609894-0ae309cb8354?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
}

.content .box h2{ 
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; 
    padding-left: 1rem; 
    margin-top: 1rem; 
    position: absolute;
}

.content .box:hover{
    /* transform: translateY(15px); */
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
