*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*a{text-decoration: none;}

*li{list-style: none;}

.container{
    position: relative;
    min-height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/469838357_1975160926330947_6913220502700881395_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGzmqpvhDx7w_Iygq-F93Fs5F-udpCuCxvkX652kK4LG2Zdr5kp9Jin64TEx90Wq8Dqql039XuucaHtaLk9Bssv&_nc_ohc=clURn4YH4gsQ7kNvgGUl39D&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=A607lFzu3ILLhLwr2qKYiX0&oh=00_AYDDa3ui3eeuwIct_EwDTeFJEmD-9TiPEVMJzmHzHOzqAw&oe=675C8535");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}

.manu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2rem;
    color: #fff;
}

.content{
width: 85%;
margin: 0 auto;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
}

.content .header,.grid-card{
    width: 50%;
    position: relative;
}

.content .header{
    color: #fff;
    padding: 20px;
}

.content .header h1{
font-size: 4.5rem;
}

.grid-card{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.grid-card .box{
    width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}

.bg1{
  background-image: url("https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/468707950_1967861690394204_2157229544505186467_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHv6JdVJMRBvbsvKnPcX339G1t87w1KbS0bW3zvDUptLbi84QgnDlp7TqY_ybG1ca-v1PMOI9iwzzT9k-Iw10b9&_nc_ohc=rf4JT5vXouUQ7kNvgE9rbbT&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=AO2uF94Vdbkx9VvUgWzX5-1&oh=00_AYC64Z3FQHAfcJmpL78Wr1Fwy-hHxjmejHPsdQRlhBaFnA&oe=675CB3F9");
}
.bg2 {
  background-image: url("https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/469669613_1975178022995904_5103475402577577020_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG8zH2PC_e2gPpTeST6jZjuoMbzs2n_pQGgxvOzaf-lAQEi_Ak8MuVKnEjG0ivSdsUWJRzqcixnOone-RFbDg3P&_nc_ohc=L1Xi4BDdcSAQ7kNvgEDlDeO&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=Aof-H8T7U7JHD29L9IijOps&oh=00_AYAvik8vMg5nSVKUUsj3SLHPv6riYBpgnvb2twaNBvtZDg&oe=675CB144");
}
.bg3 {
  background-image: url("https://instagram.fbkk28-1.fna.fbcdn.net/v/t51.2885-19/453091969_980694743803711_4254144595018374281_n.jpg?stp=dst-jpg_tt6&_nc_ht=instagram.fbkk28-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=2IIco-KRw68Q7kNvgFyQh1H&_nc_gid=be236ea5deef4bc4bb4f40058906efdf&edm=AP4sbd4BAAAA&ccb=7-5&oh=00_AYD44vcVc6FSfNLWUle_ZDD1wP0KWKogdsB1O0n-SR9oDg&oe=675C9070&_nc_sid=7a9f4b");
}

.content .box h2{ 
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; 
    padding-left: 1rem; 
    margin-top: 1rem; 
    position: absolute;
}

.content .box:hover{
    /* transform: translateY(15px); */
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
