*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*a{text-decoration: none;}

*li{list-style: none;}

.container{
    position: relative;
    min-height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/469838357_1975160926330947_6913220502700881395_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGzmqpvhDx7w_Iygq-F93Fs5F-udpCuCxvkX652kK4LG2Zdr5kp9Jin64TEx90Wq8Dqql039XuucaHtaLk9Bssv&_nc_ohc=clURn4YH4gsQ7kNvgGUl39D&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=A607lFzu3ILLhLwr2qKYiX0&oh=00_AYDDa3ui3eeuwIct_EwDTeFJEmD-9TiPEVMJzmHzHOzqAw&oe=675C8535");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}

.manu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2rem;
    color: #fff;
}

.content{
width: 85%;
margin: 0 auto;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
}

.content .header,.grid-card{
    width: 50%;
    position: relative;
}

.content .header{
    color: #fff;
    padding: 20px;
}

.content .header h1{
font-size: 4.5rem;
}

.grid-card{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.grid-card .box{
    width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}

.bg1{
  background-image: url("https://scontent.fbkk28-1.fna.fbcdn.net/v/t39.30808-6/469838357_1975160926330947_6913220502700881395_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGzmqpvhDx7w_Iygq-F93Fs5F-udpCuCxvkX652kK4LG2Zdr5kp9Jin64TEx90Wq8Dqql039XuucaHtaLk9Bssv&_nc_ohc=clURn4YH4gsQ7kNvgGUl39D&_nc_zt=23&_nc_ht=scontent.fbkk28-1.fna&_nc_gid=A607lFzu3ILLhLwr2qKYiX0&oh=00_AYDDa3ui3eeuwIct_EwDTeFJEmD-9TiPEVMJzmHzHOzqAw&oe=675C8535");
}
.bg2 {
  background-image: url("https://images.unsplash.com/photo-1552464717-70ffd59710bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}
.bg3 {
  background-image: url("https://images.unsplash.com/photo-1556609894-0ae309cb8354?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
}

.content .box h2{ 
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; 
    padding-left: 1rem; 
    margin-top: 1rem; 
    position: absolute;
}

.content .box:hover{
    /* transform: translateY(15px); */
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
